/*--Animations--*/
@-webkit-keyframes openanimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes openanimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

* {
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

body {
  background-color: rgba(255, 255, 255, 0);
  -webkit-animation: openanimation 1s ease forwards;
          animation: openanimation 1s ease forwards;
}

/*--Scrollbar--*/
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #252424;
}

::-webkit-scrollbar-thumb:hover {
  background: #2f80d1;
}

/*--NavBar--*/
.navbar-brand {
  margin-left: 3%;
}

.collapse {
  margin-right: 3%;
  float: right;
}

.nav-link {
  float: right;
}

/*--Banner--*/
.banner {
  border: none;
  position: relative;
  min-height: 75vh;
  background-size: cover;
  background-position: center;
  background: linear-gradient(94.15deg, #8094FC 0%, #71A8FF 47.92%, #60BDF7 100%);
  background-size: cover;
  /*background-color: #eaedff;*/
  padding: 250px 0 200px;
}

/*--About Me Section--*/
.about-me {
  margin-top: 25vh;
}

/*Projects Section*/
.projects {
  margin-top: 40vh;
  background-color: #e2e5f8;
  padding-bottom: 30vh;
  width: 100%;
}

.projects .custom-shape-divider-top-1620215503 {
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.projects .custom-shape-divider-top-1620215503 svg {
  position: relative;
  display: block;
  width: calc(132% + 1.3px);
  height: 99px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.projects .custom-shape-divider-top-1620215503 .shape-fill {
  fill: #FFFFFF;
}

.projects .row {
  padding-top: 40vh;
}

.custom-shape-divider-top-1620215692 {
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.custom-shape-divider-top-1620215692 svg {
  display: block;
  width: calc(126% + 1.3px);
  height: 89px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.custom-shape-divider-top-1620215692 .shape-fill {
  fill: #E2E5F8;
}

/*Contact Me Section*/
.contact-me {
  margin-top: 50vh;
  margin-bottom: 50vh;
}

.contact-me .cards {
  margin-top: 5vh;
}

.contact-me .card,
.contact-me .contact {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  border: none;
}

.contact-me .card:hover,
.contact-me .card:focus,
.contact-me .contact:hover,
.contact-me .contact:focus {
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.contact-me .card-deck {
  margin-bottom: 50px;
}

.contact-me .scroll-header {
  background: #fff;
  -webkit-box-shadow: 0 3px 7px rgba(128, 128, 128, 0.3);
  box-shadow: 0 3px 7px rgba(128, 128, 128, 0.3);
}

.contact-me .contact {
  background: #fff none repeat scroll 0 0;
  padding: 30px 20px;
  text-align: center;
}

.contact-me .contact h4 {
  margin-bottom: 20px;
}

.contact-me .contact p {
  margin: 40px;
  margin-top: 20px;
}

.contact-me .contact,
.contact-me .text-column {
  margin-bottom: 25px;
}

.contact-me .contact img,
.contact-me .text-column img {
  height: 60px;
  margin-bottom: 30px;
  width: 60px;
}

.contact-me .invisible-link {
  text-decoration: none;
  color: inherit;
}

.contact-me .invisible-link:hover {
  color: inherit;
  text-decoration: none;
}
/*# sourceMappingURL=main.css.map */